@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.container {
    background-image: url(" https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/todolistbg.png");
    background-size: cover;
    font-family: Roboto;
    height: 100vh;
    color: white;
}

.one {
    text-align: center;
}

.two {
    font-weight: bold;
}

.button {

    background-color: orange;
    color: white;
    height: 50px;
    width: 100px;
    font-size: 20px;
}

.three {
    text-decoration: underline;
    text-align: center;
}

.h {
    text-align: center;
}